/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}





/* ================================= 
  Base Element Styles
==================================== */





/* ================================= 
  Main Header
==================================== */







/* ================================= 
 Media Queries
==================================== */

@media (min-width: 768px) {

}


@media (min-width: 1024px) {
    
     
}



/* ================================= 
 Clearfix
==================================== */


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

