/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


.container {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    font-size: 1.2rem;
}




/* ================================= 
  Main Header
==================================== */

.main-header {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
}



/* ================================= 
  Signup Info
==================================== */

.sign {
    text-align: center;
    margin: 30px auto;
    padding-bottom: 40px;
    border-bottom: 4px solid black;
    
}

p {
    padding: 0 30px;
    font-size: .875rem;
    color: #009999;
    font-weight: 300; 
}


/* ================================= 
  Form
==================================== */

form {
    border-top: 2px solid black;
    padding-top: 25px;
    margin-top: -28px;
}
legend {
    font-size: 1.3rem;
    font-weight: bold;  
    padding-bottom: 10px;
}

fieldset {
    border: 0;
}

.contact label, .contact input {
    display: block;
}

label {
    color: #009999;
    font-size: .75rem;
    padding-top: 10px;
    padding-bottom: 5px;
}

.contact input, select {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px #009999 solid;
    padding-left: 5px;
    font-size: 0.875em;
    box-shadow: inset 0 0 1em #d9d9d9;
}


input::-webkit-input-placeholder {
    font-size: .65rem;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    color: #b3b3b3;
}

 input::-moz-placeholder {
    font-size: .65rem;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    color: #b3b3b3;
}

input {
    font-size: .75rem;
    color: black;
}

option {
    font-size: .75rem;
}


input:focus, textarea:focus, #state:focus {
    border: 2px solid #009999;
    background: #e6ffff;
    outline: none;
    -webkit-transition: background 2s;
    transition: background 2s;
    box-shadow: none;
    cursor: grab;
}

select {
    font-size: .75rem;
    color: #8c8c8c;
}

#zip {
    width: 50%;
    margin-bottom: 20px;
}






/* ================================= 
 Newsletter
==================================== */

.border {
    width: 100%;
    padding-top: 30px;
    border-top: 2px solid black;
}

.newsletter label {
    margin: 10px;
}

textarea {
    background: #f2f2f2;
    width: 100%;
    height: 80px;
}


button {
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #009999;
    margin-bottom: 20px;
}

button[type="reset"] {
    background-color: #ff4d4d;
}

.newsletter input, .newsletter label {
    line-height: 2;
}

.newsletter label:nth-of-type(1),
.newsletter label:nth-of-type(5),
.newsletter label:nth-of-type(8)
 {
    margin-left: 0;
}

.clear label {
    margin-left: 0;
}

#javascript, 
#plain_format {
    margin-bottom: 15px;
}

#topics, #ideas {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.875em;
    border-radius: 5px;
    border: 1px #009999 solid;
    padding: 5px 5px;
    box-shadow: none;
}

#topics::-webkit-input-placeholder,
#ideas::-webkit-input-placeholder {
   font-size: .65rem;
    font-style: italic;
    text-align: left;
    padding-right: 10px;
    color: #b3b3b3;
}

#topics::-moz-placeholder,
#ideas::-moz-placeholder {
   font-size: .65rem;
    font-style: italic;
    text-align: left;
    padding-right: 10px;
    color: #b3b3b3;
}




/* ================================= 
 Footer
==================================== */

footer p {
    font-size: .75rem;
    color: #ccc;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

/* ================================= 
 Media Queries
==================================== */

@media (min-width: 760px) {

    .container {
    width: 90%;
}
    
    .sign p {
        font-size: 0.75em;
    }

    .contact label {
        width: 20%;
        float: left;
        margin-bottom: 20px;
        margin-top: 7px;
    }  
    
    .contact input, select {
        width: 80%;
        float: left;
        margin-bottom: 20px;
}
    
    #zip {
        width: 30%;
    }
    
    legend {
        font-size: 1.1rem;
    }
    
}


@media (min-width: 1024px) {
    
     .container {
    width: 80%;
    max-width: 1024px;
}
    .float {
        width: 50%;
        float: left;
    }
     
    .contact input, select {
        width: 74%;
        float: left;
        margin-bottom: 20px;
}
    
    .contact label {
        font-size: .75rem;
        width: 25%;
        float: left;
        margin-bottom: 20px;
        margin-top: 7px;
        margin-right: 2px;
    }  
    
     .contact div:nth-child(2) {
        padding-right: 10px;
    }
    
    .contact div:nth-child(3) {
        padding-left: 10px;
    }
    
    #topics {
        clear: both;
    }
    
    .clear {
        clear:both;
        margin-left: -8px;
    }
}



/* ================================= 
 Clearfix
==================================== */


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

